@import "tailwindcss";

:root {
  --background: #323232;
  --foreground: #171717;
  --color_58: 174, 154, 100;
}

@font-face {
   font-family: Bonsad;
  src: url("../public/fonts/bonsad/Bonsad-Regular.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: Rouletta;
  src: url("../public/fonts/roulleta/Rouletta.ttf") format("truetype");
  font-display: swap;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-display: "Bonsad", sans-serif;
  --font-menu: "Rouletta", sans-serif;  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #343434;
    --foreground: #ededed;
  }
}

* {
font-family: --font-display;
}


body {
  background: var(--background);
  color: var(--foreground);
}


