@import "tailwindcss";

:root {
  --background: #323232;
  --foreground: #171717;
  --color_58: 174, 154, 100;
}

@font-face {
   font-family: Bonsad;
  src: url("./fonts/bonsad/Bonsad-Regular.otf") format("otf");
}

@font-face {
  font-family: Rouletta;
  src: url("./fonts/roulleta/Rouletta.ttf") format("ttf");
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-display: "Bonsad", sans-serif;
  --font-menu: "Rouletta", sans-serif;  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

* {
  font-family: Bonsad,Arial;
}

body {
  background: var(--background);
  color: var(--foreground);
}

menuitem {
font-family: font-menu;
}
